html {
  position: relative;
  min-height: 100%;
  background-color: #4e73df;
  background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
  background-size: cover;
}

.progress-bar-vertical {
  width: 20px;
  min-height: 380px;
  max-height: 200px;
  display: flex;
  align-items: flex-end;
  margin-right: 5px;
  float: left;
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 100%;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
  height: 0%;
  min-height: 20px;
}

.tab-content {
  margin-top: 10px;
}

.tab-content td {
  text-align: center;
}